.tabs {
  margin: 7px 0 0;
  padding: 15px;
}
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}
.tab-list-item a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}
.tab-content {
  padding: 0 1.5rem;
}
.tab-content h2 {
  font-size: 30px;
  text-decoration: underline;
}
.tab-content .tabSection {
  padding: 5rem 0;
}
.tab-content .genInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1.5rem 0;
}
.tab-content .genInfo p {
  padding-bottom: 1rem;
  font-size: 20px;
  line-height: 145%;
}
.tab-content .genInfo figure {
  float: right;
  max-width: 90%;
  text-align: center;
}
.tab-content .genInfo figure img {
  max-width: 100%;
  border: 2px solid white;
}
.tab-content .fifty50 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}
.tab-content .fifty50 h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.tab-content .fifty50 .fiftychildren {
  flex: 0 0 46%;
  padding: 0.25rem;
}
.tab-content .fifty50 .fiftychildren .options-ul {
  margin: 0;
  padding: 0;
}
