.gallery-cont {
  max-width: 1024px;
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.gallery-cont h1,
.gallery-cont .currentImage,
.gallery-cont .drop-cont,
.gallery-cont .gallery-item-cont,
.gallery-cont .pagination {
  width: 100%;
}
.gallery-cont h1 {
  margin: 0.5em;
  padding: 0.7em 0;
  background-color: orangered;
  border-radius: 15px;
  border: 5px solid black;
  color: white;
  position: relative;
  font-size: 40px;
  font-family: GrandSport, Verdana, Tahoma;
  text-shadow: 5px 3px 8px #000000;
  text-align: center;
}
.gallery-cont .currentImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
}
.gallery-cont .currentImage img {
  position: absolute;
  min-width: 101%;
  min-height: 101%;
}
.gallery-cont .drop-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 0;
}
.gallery-cont .drop-cont select,
.gallery-cont .drop-cont button {
  padding: 0.75rem 0.65rem;
  margin: 0 0.5rem 0;
  font-size: 1rem;
  border-radius: 5px;
  width: 8rem;
}
.gallery-cont .drop-cont .btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.gallery-cont .drop-cont .btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.gallery-cont .drop-cont .imageCounter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 4rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}
.gallery-cont .gallery-item-cont {
  padding: 0 0 30px;
  display: grid;
  align-items: start;
  grid-template-rows: repeat(4, 130px);
  grid-template-columns: repeat(5, auto);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.gallery-cont .gallery-item-cont .gallery-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  overflow: hidden;
}
.gallery-cont .gallery-item-cont .gallery-item img {
  position: absolute;
  min-width: 100%;
  height: 100%;
}
