.page-bottom-cont {
  display: flex;
  justify-content: center;
}
.page-bottom {
  width: 800px;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 17.5% 17.5% 30% 17.5% 17.5%;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.page-bottom img {
  border: 3px solid silver;
  border-radius: 50%;
}
.page-bottom span {
  color: #dbd5d5;
  font-size: 18px;
}
.page-bottom .centerImg {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-content: center;
  align-items: center;
}
.page-bottom .centerImg img {
  display: inline-block;
  max-height: 135px;
  max-width: 135px;
  object-fit: contain;
  object-position: center;
}
.page-bottom .socialImg {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-bottom .socialImg img {
  display: inline-block;
  max-height: 75px;
  max-width: 75px;
  opacity: 0.85;
  transition: 250ms ease-in-out;
}
.page-bottom .socialImg img:hover {
  opacity: 1;
  transition: 100ms ease-in-out;
}
.page-bottom #0 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.page-bottom #1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.page-bottom #2 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.page-bottom #3 {
  grid-column-start: 5;
  grid-column-end: 6;
}
@media (max-width: 1023px) {
  .page-bottom {
    padding: 0 15px 25px 15px;
    width: 90%;
  }
  .page-bottom span {
    font-size: 15px;
  }
  .page-bottom .centerImg img {
    max-height: 103.5px;
    max-width: 103.5px;
  }
  .page-bottom .socialImg img {
    max-height: 60.33px;
    max-width: 60.33px;
  }
}
@media (max-width: 768px) {
  .page-bottom span {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .page-bottom span {
    font-size: 11px;
  }
  .page-bottom .socialImg img {
    max-width: 65%;
    max-height: 65%;
  }
}
@media (max-width: 500px) {
  .page-bottom span {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .page-bottom span {
    font-size: 9px;
  }
}
